* {                           /*padding margin 0*/
  margin: 0;
  padding: 0;
  font-style: italic;
}
body {                        /*body layout*/
  background-image: url("bg.jpg");
  /* background-color: rgb(181, 181, 181);  */
  background-repeat: repeat;
  background-size: 100vh;
  cursor: pointer;
  transition: 1.3s;  
/* Wrapper
max-width: 1200px;
display: block;
margin-right: auto;
margin-left: auto;
background-color: #f2f2f2;
border-left: 2px ridge;
border-right: 2px ridge;
border-bottom: 2px ridge;
margin-bottom: 80px; */
}

body:hover {
  background-color: rgba(110, 146, 177, 0.891)
}

/* voor de main */
/* main {
  color: #f2f2f2;
  /* margin: 40px, 0, 40px, 0; 
} */

/* onze voorpagina(foto) */
.bg {
  background-color: #646464;
  /* opacity: 0.8; */
}
/*
.wrapper {
  max-width: 1200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #f2f2f2;
  border-left: 1px ridge;
  border-right: 1px ridge;
} */

/* .topnav {                 //menubalk
  width: 100%;
  height: 10%;
  padding: 50px auto;
  background-color: #333;
} */

.topnav {
  overflow: hidden;
  background-color: #333;
  overflow: auto;
  cursor: pointer;
  transition: 1.30s;
}
.topnav:hover{
  background-color: rgba(230, 181, 181, 0.39);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 2% 2%;
  text-decoration: none;
  font-size: 17px;
  transition: .6s;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ff0000;
  color: white;
}

.topnav a.active:hover {
  background-color: rgba(230, 145, 89, 0.39);
  color: black;
  transition: .30s;
}
/* hier een link naar een loginsysteem */
a.login {
  width: auto;
  text-align: center;
  padding: 2% auto;
  margin-right: 20px;
  background-color: rgb(192, 51, 51); 
  transition: .30s;
  /* background-color: #333; */
  /* display: inline-block; */
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  /* box-sizing: border-box; */
}

.box2 h2 {
  color: black;
  z-index: 5;
  /* vertical-align: text-top; */
}

/* logo */

.logo {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 5%;
  width: 5%;
}
/* foto's */

/* foto afmetingen */
.photo img {
  width: 100%;
  height: 100vh; 
  max-height: 600px;
  /* z-index: 6; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* max-width: 1000px;
  display: block; */
}

/* de cite van de foto */
.photo p {
  float: right;
  margin: 2% 2% 0 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  color: #ffffff;
  background-color: rgb(4, 50, 79); 
}

/* lettertypes */

/* h */
h1 {
  margin: 50px 0px 0px 50px;
  color: #333;
}

/* lettertype voor p */
p {
  margin: 0px 0px 10px 50px;
  color: #333; 
}
p.eerstep {
  margin-top: -5px;
}

p.laatstep {
  margin-bottom: 6px; 
}

p.pfooter{
  color: white;
}

/* onze forum */

/* hier onze tekstvlak */
.textforum {
  margin-left: 60px;
  background-color: rgb(247, 241, 241);
  border: 1px solid;
  border-radius: 4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
}

.submitAnswer {
  margin-left: 60px;
  margin-bottom: 60px;
  padding: 10px 15px;
  background-color: #444; 
  color: #ddd;
  border: none;
  border-radius: none;
  cursor: crosshair;
  transition: .30s;
}

.submitAnswer:hover{
  background-color: antiquewhite;
  color: #333;
  border-radius: 10px;
}

.inloggen{
  left: auto;
  right: auto;
  height: 30%;
  width: 40%;
  margin-top: 10%;
  bottom: 10%;
  position: relative;
  color: #fff;
  background-color: #646464;
  border-radius: 10px;
  /* text-align: center; */
  /* line-height: 40px; */
  padding-top: 20px;
  transition: 1.30s;
}

.inloggen:hover{
  background-color: rgba(104, 179, 196, 0.728)
}

.inloggendata {
  max-width: inherit;
}

.input{
  width: 90%;
  margin: 2%;
}

.submit {
  border: none;
  width: 30%;
  background-color: aquamarine;
  color: #646464;
  margin-bottom: 2%;
  transition: 1.30s;
}

.submit:hover{
  width: 30%;
  background-color: #ff0000;
  color: white;
  margin-bottom: 2%;
}

/* hier onze footer */



.footer {
  /* max-width: 1200px; */
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  /* z-index: 10; */
  transition: 1.30s;
}

.footer:hover{
  background-color: rgba(104, 179, 196, 0.728);
}

/* .footer[] */

.footer a {
  color: white;
}

.footerlogin {
   /* max-width: 1200px; */
   position: absolute;
   bottom: 0;
   width: 100%;
   background-color: #333;
   color: white;
   text-decoration: none;
   text-align: center;
   padding: 20px 0;
   /* z-index: 10; */
   transition: 1.30s;
}

.footerlogin:hover{
  background-color: rgba(104, 179, 196, 0.728);
}

.footerlogin a {
  color: white;
}



